.page-1 {
    background: #56C0D7;
    display: table;
    width: 100%;
    height: 700px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.page-2 {
    background: #1C7678;
    display: table;
    width: 100%;
    height: 700px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.page-3 {
    background: #EEEEEE;
    display: table;
    width: 100%;
    height: 700px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.page-4 {
    background: #FFFFFF;
    display: table;
    width: 100%;
    height: 700px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #AAAAAA;
}

.page-5 {
    background: #3AA0BA;
    display: table;
    width: 100%;
    height: 700px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}


/*----ICON SETTING-----*/

.icon-xx {
    height: 25px;
    width: 25px;
}

/*-------Text Styling---------*/
.big-text1xx {
    font-family: "Montserrat Black", "Arial Black", Helvetica;
    font-size: 84px;
}

.big-text2xx {
    font-family: "Montserrat SemiBold", "Arial Black", Helvetica;
    font-size: 64px;
}

.big-text2xx-dark {
    font-family: "Montserrat SemiBold", "Arial Black", Helvetica;
    font-size: 64px;
    color: #333333 ;
}

.semi-big-textxx {
     font-family: "Montserrat SemiBold", "Arial Black", Helvetica;
     font-size: 48px;
     color : white;
 }

.nav-textxx {
    font-family: "Montserrat SemiBold", "Arial Black", Helvetica;
    font-size: 28px;
    color : white;
}

.portfolio-linkxx {
    font-family: "Montserrat SemiBold", Arial, Helvetica;
    font-size: 40px;
}

.desc-textxx {
    font-family: "Montserrat", Arial, Helvetica;
    font-size: 24px;
}

.desc-textxx-small {
    font-family: "Montserrat", Arial, Helvetica;
    font-size: 20px;
}

.boxtext {
    min-width: 432px;
}

/*-----------------vector styling-------------*/

.portfolio-separator {
    height:50px;
    width:10px;
}

.photo-background-a1 {
    max-width: 100%;
    min-width: 360px;
    height: auto;

}

.picture-box {
    height: 720px;
    width: 480px;
    margin: 20px;
}

