{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}


{% block content %}

<a href="/schedule/" class="btn btn-primary btn-lg" role="button" aria-disabled="false">Back</a>

<form id="form" method="POST" action="{% url 'Story5:save_event' %}">
 	{% csrf_token %}

	{{ request_data_jadwal.as_p }}

	<input type='submit' value='Create!' class="btn btn-primary btn-lg"/>
</form>

{% endblock %}