{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}

{% block content %}

<body>
	<div class="container-fluid">
        <div class="row">
            <div class="col-md-5"> 
                <a href="/schedule/create/" class="btn btn-primary btn-lg" role="button" aria-disabled="false">Create New Schedule!</a>
            </div>
            <div class="col-md-5"> 
                <form action="{% url 'Story5:delete_all_event' %}" method="GET">
                    <a href="delete/" class="btn btn-primary btn-lg" role="button" aria-disabled="false">Clear Event!</a>
            </div>
        </div>
        {% for data in schedules%}
        <!-- ===============individual schedule view start -->
        <div class="row">
        	<div class="alert alert-info" role="alert">
        		<div class="row">
        			<span class="badge badge-dark">
        				<a><Strong>{{ data.date | date:'l'}}</Strong></a><br/>
        				<a class="big-text1xx">{{ data.date | date:'d'}}</a><br/>
        				<a><strong>{{ data.date | date:'M Y'}}</strong></a>
        			</span>
        			<span class="badge badge-info">
        				<a class="desc-textxx">{{ data.event_name }}</a><br/><br/>
        				<a class="desc-textxx-small">Location : {{ data.location }}</a><br/>
        				<a class="desc-textxx-small">Category : {{ data.category }}</a><br/>
        				<a class="desc-textxx-small">Time : {{ data.time | time:'h:i A'}}</a>
        			</span>
        		</div>
        	</div>
           <!-- ==========individual schedule view end here -->
        </div>
        {% endfor %}
	</div>
</body>

{% endblock %}